.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  z-index: 999;
  transition: all 0.5s ease-in;
}

.navbar_scroll {
  background: #111;
}

.navbar .netflix {
  width: 100px;
  object-fit: contain;
}

.smiley {
  width: 30px;
  object-fit: contain;
}
